.gamePage {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background: rgb(14, 116, 255);
   background: radial-gradient(circle, rgba(14, 116, 255, 1) 0%, rgba(0, 3, 29, 1) 100%);

   button {
      position: absolute;
      top: 20px;
      left: 20px;
      padding: 10;
      background-color: #000;
      color: #fff;

      &:hover {
         background-color: #000;
         color: #0fb300;

      }
   }
}